[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
marshmallow = "*"
flask-restful = "*"
webargs = "*"
sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
pyhumps = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
